# log files
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.env.example

# frontend ignored files
node_modules/
frontend/node_modules/
frontend/.vite/
dist
dist-ssr
*.local

# backend ignored files
backend/.venv/
backend/__pycache__/
backend/*.pyc
backend/.env
*.env
backend/source

# editor and IDE files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
