version: '3.8'
services:
  backend:
    build: 
      context: ./backend
    # Coolify will inject ENV vars here automatically
    environment:
      - MYSQL_HOST=mysql
      - MYSQL_PORT=3306
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_DB=${MYSQL_DB}
      - JWT_SECRET_KEY=${JWT_SECRET_KEY}
      - FRONTEND_URL=${FRONTEND_URL}
    ports:
      - "8000:8000"
    depends_on:
      - mysql
    restart: unless-stopped
    networks:
    app-network:
      driver: bridge
  

  frontend:
    build:
      context: ./frontend
      args:
        # This maps the Coolify variable to the Dockerfile ARG
        - VITE_API_URL=${VITE_API_URL:-http://localhost:8000}
    ports:
      - "80:3000"
    depends_on:
      - backend
    restart: unless-stopped
    networks:
      - app-network
    environment:
      - VITE_API_URL=${VITE_API_URL}